<nav class="navbar navbar-default my-nav">
  <div class="container-fluid" style="padding: 0px; height: 100%">
    <div class="navbar-header" style="height: 100%">
      <ul class="nav navbar-nav" style="padding-left: 30px; height: 100%">
        <li>
          <a
            href="http://localhost/phpmyadmin/index.php?route=/&route=%2F"
            target="_blank"
            rel="noopener noreferrer"
          >
            phpMyAdmin
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"> BetNHL </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"> Graphics </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"> The Boyz </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"> youRL </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
