<nav class="navbar navbar-default my-nav">
  <div class="container-fluid" style="padding: 0px; height: 100%">
    <div class="navbar-header" style="height: 100%">
      <ul class="nav navbar-nav" style="padding-left: 30px; height: 100%">
        <li>
          <a
            href="https://calendar.google.com/calendar/u/0/r"
            target="_blank"
            rel="noopener noreferrer"
          >
            Calender
          </a>
        </li>
        <li>
          <a
            href="https://mail.google.com/mail/u/0/#inbox"
            target="_blank"
            rel="noopener noreferrer"
          >
            Gmail
          </a>
        </li>
        <li>
          <a
            href="https://drive.google.com/drive/u/0/my-drive"
            target="_blank"
            rel="noopener noreferrer"
          >
            Drive
          </a>
        </li>
        <li>
          <a
            href="http://localhost/phpmyadmin/index.php?route=/&route=%2F"
            target="_blank"
            rel="noopener noreferrer"
          >
            phpMyAdmin
          </a>
        </li>
        <li>
          <a
            href="http://localhost:4200/"
            target="_blank"
            rel="noopener noreferrer"
          >
            LocalHost
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
