.arcade-top {
  margin: -1px 0px 0px -1px;
  padding: 7px 5px;
  width: 105%;
  border-top: 5px solid gray;
  border-left: 3px solid gray;
  border-bottom: 2px solid gray;
  border-top-left-radius: 3%;
  border-top-right-radius: 7%;
  border-bottom-right-radius: 4%;
  border-bottom-left-radius: 10%;
  background-color: saddlebrown;
  box-shadow: 0px 3px rgba(70, 227, 255, 0.25);
}

.high-score {
  margin: 3px 0px 4px 2px;
  width: 93%;
  display: inline-block;
  background: radial-gradient(
    circle,
    rgb(232, 222, 255) 0%,
    rgb(22, 13, 66) 28%
  );
  border: 4px dashed rgb(40, 191, 48);
  background-origin: padding-box, content-box;
  background-repeat: no-repeat;
  overflow: hidden;
}
.high-score:hover {
  background: radial-gradient(circle, rgb(197, 0, 0) 0%, rgb(0, 0, 0) 28%);
  border: 4px solid rgb(184, 8, 8);
  box-shadow: 0px 0px 5px 2px rgb(245, 71, 71);
  cursor: pointer;
}
.high-score > a {
  letter-spacing: 7px;
  font-family: "video game";
  color: rgba(56, 216, 72, 0.95);
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  float: none;
  display: inline-block;
}
.high-score:hover > a {
  color: rgba(237, 44, 44, 0.85);
  text-shadow: -1px -1px 1px rgb(255, 75, 75), 0 0 0.2em rgb(255, 75, 75),
    0 0 0.8em rgb(255, 75, 75);
}

.game-play {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(64, 0, 255, 0.3),
      rgba(183, 255, 0, 0.15)
    ),
    url(../../images/centipede-test.jpg);
  background-size: 100% 100%;
  border-radius: 0px;
  border-left: 5px solid grey;
  border-bottom: 2px solid saddlebrown;
  border-right: 2px solid grey;
  box-shadow: 5px -3px 2px rgba(139, 69, 19, 0.8) inset,
    -2px 0px 6px rgba(139, 69, 19, 0.8) inset, 1px 0px 8px rgb(39, 38, 44),
    0px 10px 15px rgb(0, 0, 0), 5px 30px 15px rgb(39, 38, 44);
  width: 19%;
  display: inline-block;
  vertical-align: top;
  height: 99vh;
  border-top: 1px solid gray;
  z-index: 5;
}

.all-options {
  padding: 0px;
  list-style: none;
  margin-top: 5px;
  height: 83vh;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: visible;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.all-options::-webkit-scrollbar {
  display: none;
}
.main-option > a {
  margin-top: 0px;
  font-family: "sci-fi header";
  display: inline-block;
  color: yellow;
  font-weight: 900;
  font-size: 18px;
}
.main-option > a:hover {
  font-style: italic;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgb(255, 255, 255), 0 0 0.2em rgb(218, 204, 194),
    0 0 0.8em rgb(105, 8, 100);
}

.option-menu {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  display: inline-block;
  width: 88%;
}
.option-menu > ul {
  display: inline-block;
  width: 95%;
  padding: 0px 5px 4px 3%;
  color: yellow;
  background-color: rgba(119, 110, 132, 0.9);
  border: 1px solid yellow;
  border-radius: 3px;
  overflow: hidden;
}

@counter-style dice {
  system: additive;
  additive-symbols: 6 ⚅, 5 ⚄, 4 ⚃, 3 ⚂, 2 ⚁, 1 ⚀;
  suffix: " ";
}

.sub-option {
  list-style: none;
  list-style-position: inside;
  text-align: left;
  font-size: 14px;
  display: block;
  margin-bottom: -1px;
  margin-top: -3px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.sub-option::-webkit-scrollbar {
  display: none;
}
.sub-option > a {
  list-style-type: dice;
  color: yellow;
  text-shadow: 0px 0px 3px rgb(70, 13, 113);
  white-space: nowrap;
  display: list-item;
  cursor: pointer;
}
.sub-option > a:hover {
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgb(255, 255, 255), 0 0 0.2em rgb(218, 204, 194),
    0 0 0.8em rgb(105, 8, 100);
}
.sub-option > a > b {
  font-size: 16px;
  color: rgb(69 12 85);
}
.sub-option > a > div {
  padding: 0px;
  font-size: 14px;
  font-style: italic;
  margin-top: -8px;
  margin-left: 14px;
  text-align: left;
  color: rgb(245 208 255);
  cursor: copy;
  text-shadow: none;
}
.sub-option > a > div:hover {
  text-shadow: -1px -1px 1px rgb(255, 255, 255), 0 0 0.2em rgb(218, 204, 194),
    0 0 0.8em rgb(105, 8, 100);
}
.active-link > a {
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 225, 0, 0.9),
    rgb(245 208 255) 25%,
    rgba(255, 165, 0, 0)
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1px 5px;
  text-shadow: -1px -1px 1px orange, 0 0 0.2em rgb(105, 48, 8),
    0 0 0.2em rgb(105, 48, 8);
  font-weight: 900;
  font-size: larger;
  text-decoration: none;
  cursor: default;
}
.active-link > a:hover {
  font-style: normal;
  text-shadow: -1px -1px 1px orange, 0 0 0.2em rgb(105, 48, 8),
    0 0 0.2em rgb(105, 48, 8);
}

.main-mini-option > a {
  margin-top: 0px;
  font-family: "sci-fi header";
  display: inline-block;
  color: yellow;
  font-weight: 900;
  font-size: 18px;
}
.main-mini-option > a:hover {
  font-style: italic;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgb(255, 255, 255), 0 0 0.2em rgb(218, 204, 194),
    0 0 0.8em rgb(37, 105, 8);
}
.active-mini-main-link > a {
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 225, 0, 0.9),
    rgba(34, 197, 53, 0.95) 45%,
    rgba(255, 165, 0, 0)
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1px 5px;
  text-shadow: -1px -1px 1px orange, 0 0 0.2em rgb(105, 48, 8),
    0 0 0.2em rgb(105, 48, 8);
  font-weight: 900;
  font-size: larger;
  text-decoration: none;
}
.active-mini-main-link > a:hover {
  font-style: normal;
  text-shadow: none;
}
.mini-menu {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  display: inline-block;
  width: 75%;
}
.mini-menu > ul {
  display: inline-block;
  width: 95%;
  padding: 0px 5px 4px 3%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.9),
    rgba(255, 115, 0, 0.8) 70%
  );
  color: rgba(119, 110, 132, 0.9);
  border: 1px solid yellow;
  border-radius: 3px;
  overflow: hidden;
}
.mini-menu-option {
  list-style: none;
  list-style-position: inside;
  text-align: center;
  font-size: 17px;
  line-height: 1.1;
  display: block;
  margin-bottom: -1px;
  margin-top: -3px;
}
.mini-menu-option > a {
  color: rgb(34, 197, 72);
  font-family: "sci-fi header", monospace;
  font-weight: 900;
}
.mini-menu-option > a:hover {
  text-decoration: none;
  font-style: italic;
  text-shadow: -1px -1px 1px rgb(65, 104, 19), 0 0 0.8em rgb(105, 90, 8),
    0 0 1em rgb(204, 201, 185);
}
.active-mini-link {
  cursor: default;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0.75) 75%
  );
  box-shadow: 0 0 0.2em rgb(214, 255, 196), 0 0 2em black;
  text-shadow: -1px -1px 1px rgb(65, 104, 19), 0 0 0.8em rgb(105, 90, 8),
    0 0 1em rgb(204, 201, 185);
  border-radius: 2px;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 5px;
  line-height: 1.4;
  font-style: italic;
}
