<nav class="navbar navbar-default game-play">
  <div class="container-fluid" style="padding: 0px; width: 100%">
    <div class="navbar-header" style="text-align: center; width: 100%">
      <div class="row arcade-top">
        <div routerLink="" class="high-score">
          <a routerLink="" class="navbar-brand">MPB</a>
        </div>
      </div>
      <ul class="all-options">
        <li
          class="main-option"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="to_do">to-do</a>
          <div class="option-menu">
            <ul>
              <li class="sub-option" *ngFor="let task of to_do; index as i">
                <a (click)="toDone(task.rank)" *ngIf="i < 2"
                  ><b>{{ task.category }}</b>
                  <div>
                    {{ task.description }}
                  </div></a
                >
                <a
                  (click)="toDone(task.rank)"
                  *ngIf="i == 2"
                  style="padding-bottom: 4px"
                  ><b>{{ task.category }}</b>
                  <div>
                    {{ task.description }}
                  </div></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li
          class="main-option"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="links">links</a>
          <div class="option-menu">
            <ul>
              <li class="sub-option" *ngFor="let link of links; index as i">
                <a
                  href="{{ link.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  *ngIf="i <= 10"
                  ><b>{{ link.name }}</b>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li
          class="main-option"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="credentials">credentials</a>
          <div class="option-menu">
            <ul>
              <li class="sub-option" *ngFor="let login of logins; index as i">
                <a routerLink="credentials" *ngIf="i < 2"
                  ><b>{{ login.website.slice(12) }}</b>
                  <div>{{ login.username }} : {{ login.password }}</div></a
                >
                <a
                  routerLink="credentials"
                  *ngIf="i == 2"
                  style="padding-bottom: 4px"
                  ><b>{{ login.website.slice(12) }}</b>
                  <div>{{ login.username }} : {{ login.password }}</div></a
                >
              </li>
              <li
                class="sub-option"
                *ngFor="let info of personalInfo; index as i"
              >
                <a routerLink="credentials" *ngIf="i < 2"
                  ><b>{{ info.name }}</b>
                  <div>
                    {{ info.description }}
                  </div></a
                >
                <a
                  routerLink="credentials"
                  *ngIf="i == 2"
                  style="padding-bottom: 4px"
                  ><b>{{ info.name }}</b>
                  <div>
                    {{ info.description }}
                  </div></a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
