<div class="page">
  <div class="title-row">Favs</div>
  <div class="sub-pages">
    <div class="sub-page-row">
      <div class="sub-title" routerLink="movies">movies</div>
      <div class="sub-content"></div>
    </div>
    <div class="sub-page-row">
      <div class="sub-title" routerLink="tv">television</div>
      <div class="sub-content"></div>
    </div>
    <div class="sub-page-row">
      <div class="sub-title" routerLink="music">music</div>
      <div class="sub-content"></div>
    </div>
  </div>
</div>
