<div class="page">
  <div class="title-row">Favs</div>
  <div class="sub-pages">
    <div class="sub-page-col">
      <div class="sub-page-category">~culture~</div>
      <div class="sub-page-link" routerLink="movies">movies</div>
      <div class="sub-page-link" routerLink="tv">television</div>
      <div class="sub-page-link" routerLink="music">music</div>
      <div class="sub-page-link" routerLink="books">books</div>
    </div>
    <div class="sub-page-col">
      <div class="sub-page-category">~shop~</div>
      <div class="sub-page-link" routerLink="fashion">fashion</div>
      <div class="sub-page-link" routerLink="gifts">home</div>
      <div class="sub-page-link" routerLink="tattoos">tattoos</div>
      <div class="sub-page-link" routerLink="random">random</div>
    </div>
    <div class="sub-page-col">
      <div class="sub-page-category">~pics~</div>
      <div class="sub-page-link" routerLink="backgrounds">backgrounds</div>
      <div class="sub-page-link" routerLink="memes">memes</div>
      <div class="sub-page-link" routerLink="pics-misc">misc</div>
    </div>
  </div>
  <div class="sub-pages">
    <div class="sub-page-col">
      <div class="sub-page-category">~gifts~</div>
      <div class="sub-page-link" routerLink="gifts-megan">megan</div>
      <div class="sub-page-link" routerLink="gifts-others">others</div>
      <div class="sub-page-link" routerLink="sites">sites</div>
    </div>
    <div class="sub-page-col">
      <div class="sub-page-category">~art~</div>
      <div class="sub-page-link" routerLink="art-inspo">inspo</div>
      <div class="sub-page-link" routerLink="art-ideas">ideas</div>
      <div class="sub-page-link" routerLink="art-wall">wall art</div>
    </div>
    <div class="sub-page-col">
      <div class="sub-page-category">~misc~</div>
      <div class="sub-page-link" routerLink="quotes">quotes</div>
      <div class="sub-page-link" routerLink="articles">articles</div>
    </div>
  </div>
</div>
