<div class="page">
  <div class="title-row" (click)="changePage()" style="cursor: pointer">
    {{ showing }}
  </div>
  <div class="create-row">
    <div class="create-input-col" *ngIf="showing === 'Logins'">
      <div class="create-label">Website:</div>
      <input
        type="text"
        class="create-input"
        placeholder=""
        (change)="updateInput($event, 'website')"
        [value]="login_input.website"
      />
      <div class="create-label">url:</div>
      <input
        type="text"
        class="create-input"
        placeholder=""
        (change)="updateInput($event, 'url')"
        [value]="login_input.url"
      />
      <div class="create-label">Username:</div>
      <input
        type="text"
        class="create-input"
        placeholder=""
        (change)="updateInput($event, 'username')"
        [value]="login_input.username"
      />
      <div class="create-label">Password:</div>
      <input
        type="text"
        class="create-input"
        placeholder=""
        (change)="updateInput($event, 'password')"
        [value]="login_input.password"
      />
    </div>
    <div class="create-input-col" *ngIf="showing !== 'Logins'">
      <div class="create-label">Name:</div>
      <input
        type="text"
        class="create-input"
        placeholder=""
        (change)="updateInput($event, 'name')"
        [value]="personal_info_input.name"
      />
      <div class="create-label">Description:</div>
      <input
        type="text"
        class="create-input"
        placeholder=""
        (change)="updateInput($event, 'description')"
        [value]="personal_info_input.description"
      />
    </div>
    <div class="create-button-col">
      <button
        class="create-button"
        type="button"
        *ngIf="showing === 'Logins'"
        (click)="addLogin()"
      >
        Create
      </button>
      <button
        class="create-button"
        type="button"
        *ngIf="showing === 'Personal Info'"
        (click)="addPersonalInfo()"
      >
        Create
      </button>
    </div>
  </div>
  <div class="content-table">
    <table *ngIf="showing === 'Logins'">
      <tr>
        <th class="content-header" (click)="sortBy('website')">Website</th>
        <th class="content-header" (click)="sortBy('url')">URL</th>
        <th class="content-header" (click)="sortBy('username')">Username</th>
        <th class="content-header" (click)="sortBy('password')">Password</th>
      </tr>
      <tr *ngFor="let login of logins; index as i">
        <td class="content-data-2" (click)="openLoginURL(i)">
          {{ login.website }}
        </td>
        <td class="content-data-2" (click)="openLoginURL(i)">
          {{ login.url }}
        </td>
        <td class="content-copy" (click)="copyToClipboard(login.username)">
          {{ login.username }}
        </td>
        <td class="content-copy" (click)="copyToClipboard(login.password)">
          {{ login.password }}
        </td>
        <td
          class="content-data"
          style="width: 35px"
          (click)="deleteLogin(login.url)"
        >
          DELETE
        </td>
      </tr>
    </table>
    <table *ngIf="showing !== 'Logins'">
      <tr>
        <th class="content-header" (click)="sortBy('name')">Name</th>
        <th class="content-header" (click)="sortBy('description')">
          Description
        </th>
      </tr>
      <tr *ngFor="let info of personalInfo; index as i">
        <td class="content-data" (click)="deletePersonalInfo(info.name)">
          {{ info.name }}
        </td>
        <td class="content-copy" (click)="copyToClipboard(info.description)">
          {{ info.description }}
        </td>
      </tr>
    </table>
  </div>
</div>
