.movie-row {
  display: inline-block;
  width: 96%;
  min-height: 20vh;
  height: max-content;
  max-height: 50vh;
  margin: 0px 2% 5px 2%;
  padding: 0px;
  background-color: lavender;
  border: 1.5px solid lavender;
}

.movie-info {
  width: 75%;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.movie-title {
  text-align: center;
  width: 100%;
  padding: 0px 2px;
  color: rgb(201 27 120);
  font-size: 16px;
  background-color: rgb(29 15 3);
  line-height: 1.5;
  text-shadow: -0.4px -0.2px rgb(243 219 99);
}
.movie-title:hover {
  color: rgb(243 219 99);
  text-shadow: -2px -1px 1px rgb(29 15 3);
  cursor: pointer;
  background-color: rgb(201 27 120);
}

.movie-subtitle {
  background-color: rgb(201 27 120);
  padding: 1px 0px 0px 0px;
  display: flex;
}
.not-watched {
  margin: -1.1px 0.5% 0px 0%;
  width: 5.5%;
  vertical-align: bottom;
  background-image: url(../../../images/add.png),
    radial-gradient(rgb(173, 255, 191) 40%, transparent);
  background-repeat: no-repeat;
  background-size: 20px 14px;
}
.not-watched:hover {
  background-image: url(../../../images/add.png),
    radial-gradient(rgb(63, 246, 106) 100%, transparent);
  cursor: pointer;
}
.on-watchlist {
  margin: -1.7px 0% 0px 0%;
  width: 6%;
  vertical-align: bottom;
  background-image: url(../../../images/eye.png);
  background-repeat: no-repeat;
  background-size: 19px 23px;
}
.on-watchlist:hover {
  background-image: radial-gradient(
      rgba(255, 0, 47, 0.66) 60%,
      rgb(29 15 3) 40%
    ),
    url(../../../images/eye.png);
  cursor: pointer;
}
.watched {
  margin: 0px;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.watched-img {
  margin: 0px 0% 0px 5%;
  width: 20%;
  height: 100%;
  display: inline-block;
  background-image: url(../../../images/check.png);
  background-repeat: no-repeat;
  background-size: 14px 15px;
}
.my-rating {
  display: inline-block;
  margin: 0px;
  padding-left: 2px;
  color: #f09dff;
  text-align: left;
  font-size: 13px;
  font-style: normal;
  text-shadow: 0px 1px 1px rgb(29 15 3), 1px 1px 0.1em rgb(44 232 58),
    0 0 0.2em #fae6f9;
  line-height: 1;
}
.my-rank {
  display: inline-block;
  margin: 0px;
  padding-left: 10px;
  color: rgb(54 19 95);
  text-align: left;
  font-size: 12px;
  font-style: normal;
  text-shadow: -1px 0px 1px rgb(255 255 255), 1px 1px 0.1em rgb(200 138 206),
    0 0 0.2em;
}
.movie-release {
  text-align: center;
  padding-left: 2px;
  font-size: 12px;
  font-style: italic;
  color: lavender;
  line-height: 1.1;
  margin: 0px;
  width: 40%;
  display: inline-block;
}
.movie-ratings {
  color: rgb(29 15 3);
  display: inline-block;
  width: 23%;
  font-size: 10px;
  padding: 0px 5px;
  margin: 0px 1% 0px 1%;
  font-style: italic;
  text-align: right;
  vertical-align: bottom;
  line-height: 1.1;
}
.movie-ratings > b {
  color: #f3db63;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  text-shadow: 0px 1px 1px rgb(29 15 3), 1px 1px 0.1em rgb(232 91 44),
    0 0 0.2em lavender;
  margin-right: 2px;
  line-height: 1;
}

.movie-overview {
  font-size: 11.5px;
  padding: 2px 5px;
  color: black;
}
.movie-poster {
  width: 25%;
  vertical-align: top;
}
.movie-options {
  width: 100%;
  padding: 0px;
  display: inline-block;
  margin: 0px;
  text-align: left;
  padding-top: 3px;
}
.option-label {
  position: relative;
  text-align: right;
  color: rgb(84, 80, 139);
  text-shadow: 1px -1px 1px rgb(187 110 179 / 90%),
    0px 0px 0.1em rgb(144 255 33 / 80%), 1px 0 0.1em rgb(42 206 255);
  font-weight: 900;
  display: inline-block;
  width: 45%;
  font-size: 16px;
  font-family: "sci-fi title", monospace;
}
.text-edit {
  margin-left: 2%;
  display: inline-block;
  font-family: "sci-fi header", monospace;
  font-weight: 900;
  width: 15%;
  text-align: center;
  height: 20px;
  padding: 2px 4px;
  font-size: 12px;
  color: rgb(84, 80, 139);
  line-height: normal;
  background-color: rgba(255, 220, 220, 0.5);
  background-image: none;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 0 0 0.1em rgb(42 206 255);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top: 2px;
}
.text-edit:hover {
  border-color: rgb(42 206 255);
  box-shadow: 0 0 0.1em rgb(42 206 255);
}
