<div class="page">
  <div class="title-row">Movies</div>
  <div class="header-row">
    <div
      class="header-select"
      [ngClass]="{
        'header-select-active': window === 'search'
      }"
      (click)="window = 'search'"
    >
      search
    </div>
    <div
      class="header-select"
      [ngClass]="{
        'header-select-active': window === 'discover'
      }"
      (click)="window = 'discover'"
    >
      discover
    </div>
    <div
      class="header-select"
      [ngClass]="{
        'header-select-active': window === 'watch'
      }"
      (click)="window = 'watch'"
    >
      watch
    </div>
    <div
      class="header-select"
      [ngClass]="{
        'header-select-active': window === 'watched'
      }"
      (click)="window = 'watched'"
    >
      seen
    </div>
    <div
      class="header-select"
      [ngClass]="{
        'header-select-active': window === 'rank'
      }"
      (click)="window = 'rank'"
    >
      ranks
    </div>
    <div
      class="header-select"
      [ngClass]="{
        'header-select-active': window === 'lists'
      }"
      (click)="window = 'lists'"
    >
      lists
    </div>
  </div>
  <div class="content">
    <div
      class="query-content"
      *ngIf="window === 'search' || window === 'discover'"
    >
      <button class="go-button" (click)="submitQuery()">SEARCH</button>
      <div class="sort-row">
        <div class="sort">
          <button class="sort-btn">
            {{ sort_display }}
          </button>
          <div class="sort-content">
            <div
              *ngFor="let param of sort_options.params"
              (click)="sort.param = param.value; sort_display = param.display_1"
            >
              {{ param.display_2 }}
            </div>
          </div>
        </div>
        <div class="sort">
          <button class="sort-btn" style="min-width: 60px">
            {{ order_display }}
          </button>
          <div class="sort-content" style="width: 60px">
            <div
              *ngFor="let order of sort_options.orders"
              (click)="sort.order = order.value; order_display = order.display"
            >
              {{ order.display }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="window === 'discover'">
        <div
          class="query-row"
          *ngFor="let param of curr_discover.params; let i = index"
        >
          <div class="query-label" (click)="removeParam(param)">
            {{ param[0] }}
          </div>
          <input
            class="query-input"
            placeholder=""
            type="text"
            [(ngModel)]="param[1]"
          />
        </div>
      </div>
      <div *ngIf="window === 'search'">
        <div class="query-row">
          <input
            class="query-input"
            style="
              width: 100%;
              background-color: rgba(255, 220, 62, 0.75);
              margin: 3px 0px;
              height: 30px;
              font-size: 12px;
              border-radius: 0px;
            "
            placeholder="??????????"
            type="text"
            [(ngModel)]="curr_movieSearch.query"
          />
        </div>
        <div class="query-row">
          <div class="query-label" (click)="curr_movieSearch.language = ''">
            language
          </div>
          <input
            class="query-input"
            placeholder=""
            type="text"
            [(ngModel)]="curr_movieSearch.language"
          />
        </div>
        <div class="query-row">
          <div class="query-label" (click)="curr_movieSearch.year = null">
            year
          </div>
          <input
            class="query-input"
            placeholder=""
            type="text"
            [(ngModel)]="curr_movieSearch.year"
          />
        </div>
      </div>
    </div>
    <div class="search-content" *ngIf="!searching">
      <app-movies-results></app-movies-results>
    </div>
    <div class="search-loading" *ngIf="searching">loading</div>
  </div>
</div>
